<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ProductControllerServlet</servlet-name>
        <servlet-class>servlet.ProductControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServelet</servlet-name>
        <servlet-class>servlet.LogOutServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProduct</servlet-name>
        <servlet-class>servlet.DetailProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControllerServlet</servlet-name>
        <servlet-class>OrderControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductControllerServlet</servlet-name>
        <url-pattern>/ProductControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServelet</servlet-name>
        <url-pattern>/LogOutServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProduct</servlet-name>
        <url-pattern>/DetailProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControllerServlet</servlet-name>
        <url-pattern>/OrderControllerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
